---
---

@import "{{ site.theme }}";

@font-face {
   font-family: 'vtc_letterer_proregular';
   src: url('../fonts/VTC_letterer_pro-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

body {
   font-size: 14px;
}

header h1 {
  font-size: 32px;
  font-family: 'vtc_letterer_proregular';
}

header h2 {
  font-size: 18px;
  font-family: 'vtc_letterer_proregular';
}

#main-content h1, 
#main-content h2,
#main-content h3,
#main-content h4,
#main-content h5,
#main-content h6
{
  font-family: 'vtc_letterer_proregular', "Architects Daughter", "Helvetica Neue", Helvetica, Arial, serif;
}

nav {
  font-family: 'vtc_letterer_proregular', "Architects Daughter", "Helvetica Neue", Helvetica, Arial, serif;
  font-size: 16px;
}

td:first-of-type {
  text-align: left !important;
  padding-left: 2rem;
}
